@import 'App';
@import 'Navbar';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-footer {
  z-index:-1;
  .navbar {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    background: linen;
  }
}
